<!DOCTYPE html>

<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.2.0/amelia/bootstrap.min.css">
    </head>

    <body>
		<div class="jumbotron">
        <center>
				
            <h1 > Effects of Gun Control on Deaths with Firearms</h1>
    <form action="/">
		<div class="form-group">
            <table><tr>
	   
                <td>
                   
                        <button type="submit" name="button" value="why">Why Do This?</button>
                </td>
                <td>
                 
                        <button type="submit" name="button"  value="data">The Data</button>
                </td>
                <td>
                        <button type="submit" name="button" value="analysis">The Analysis</button>
                </td>
                <td>
                        <button type="submit" name="button" value="sources">Sources</button>
                </td>
		        
            
            </tr></table> 
		</div>
			</form>
        </center>
	</div>
    </body>
</html>

