<!DOCTYPE html>
<html>
<head>
<style>
body{
background-color:black;
background-image:url(http://1-background.com/images/meteorites/moon-rock-bw-seamless-background-texture.jpg)
}
h1{
background-color:gray;
}
h2{
background-color:lightgray;
}
h4{
background-color:white;
}
p{
background-color:white;
}
ul{
background-color:white;
}
table{
background-color:white;
}
</style>
</head>
<body>
<center>
<font color= "darkred" face= "copperplatelight"background-color=
"lightgray"><h1> Effects of Gun Control on Deathswith Fire Arms
</h1>
</font>
<form action="/why">
<button type="submit" value="why">Why Do This?</button>
</form>
<form action="/data">
<button type="submit" value="data">The Data</button>
</form>
</center> </body>


</html>

