<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="{{ url_for( 'static',filename='css/theme.css') }}">
</head>
<body id="main_page">
<div >
<center>
<font color= "darkred" face= "copperplatelight"background-color=
"lightgray"><h1> Effects of Gun Control on Deaths with Fire Arms
</h1>
</font>
<form action="/why">
<button type="submit" value="why">Why Do This?</button>
</form>
<form action="/data">
<button type="submit" value="data">The Data</button>
</form>
</center>
</div> </body>


</html>

