<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title></title>
<style>
body{
background-color:black;
background-image:url(http://1-background.com/images/meteorites/moon-rock-bw-seamless-background-texture.jpg)
}
h1{
background-color:gray;
}
h2{
background-color:lightgray;
}
h4{
background-color:white;
}
p{
background-color:white;
}
ul{
background-color:white;
}
table{
background-color:white;
}</style>
</head>

<body>
<h1>Why</h1>

<p> Gun control is a pertinent issue, with major gun control reform having just been shot down of the floor of the Senate. Every year the Brady Campaign, a pro gun control organization releases a report providing each state with a score for the comprehensiveness of their gun control legislation. These reports are always met with scepticism and scorn from groups like the NRA. They claim that these rankings are irrelivent, and don't take into account or reflect issues like crime in the state, or number of deaths with a fire arm. So I decided to see if there was a cooralation between the rate of deaths with a fire arm in a state, and the score provided by the Brady foundation.</p>

</body> </html>